.userInfo{
    display: flex;
    flex-direction: column;
    gap: 30px;

    border-top: 2px solid #383838;
    padding-top: 30px;
}

.infoList{
    display: flex;
    gap: 15px;
}

.userInfoLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background-color: #252527;
    border-radius: 14px;
    position: relative; 
}

.userInfoLogo::before{
  content:"";
  position:absolute;
  inset:0;
  border-radius:14px;
  pointer-events:none;

  background:
    linear-gradient(
      135deg,
      rgba(255,255,255,.10),
      rgba(255,255,255,0) 40%
    );

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;

  padding: 2px;
}

.userInfoText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.userInfoText h6{
    font-family: var(--fond);
    font-size: 12px;
    color: #d6d6d6b2;
}

.userInfoText p{
    font-family: var(--fond);
    font-size: 14px;
    color: #fafafa;
}

.userSocials{
    margin-top: 10px;
}