:root {
    --fond: "Inter";
}

aside{
    top: 60px;
    position: sticky;
    align-self: flex-start;
    width: 275px;
    height: 760px;
    background: #1e1e1f;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 22%);
    margin-block: 60px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.asideImg{
    margin-block: 60px 30px;
    width: 150px;
    height: 150px;
    background-color: hsl(0, 0%, 22%);
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.asideImg img{
    width: 100%;
    height: 100%;
}

aside h1{
    font-family: var(--fond);
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}

aside span{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 126px;
    height: 28px;
    border-radius: 8px;
    background-color: #2b2b2c;
    margin-block: 20px 30px;

    font-family: var(--fond);
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.socialMedia{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header{
    width: 450px;
    height: 65px;
    background-color: #2b2b2cbf;
    border: 1px solid hsl(0, 0%, 22%);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.link{
    color: inherit;
    text-decoration: none;
    height: 100%;
    
    display: flex;
    align-items: center;
}

.link.active p{
    color: #FFDB70;
}

.link p{
    font-family: var(--fond);
    font-weight: 600;
    color: #d6d6d6;
}
