.container{
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.containerRoute{
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
}

.wrap{
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 420px) {
    .wrap {
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        padding-inline: 15px;   
    }
}

.content{
    width: 900px;
    height: 100%  ;
    background: #1e1e1f;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 22%);
    margin-block: 60px;
}

@media (max-width: 420px) {
    .content {
        width: 100%;
        margin-block: 5px 76px;
    }
}

header{
    display: flex;
    justify-content: end;
}

@media (max-width: 420px) {
    header{
        display: none;
    }
}

main{
    padding-bottom: 50px;
}

@media (max-width: 420px) {
    main {
        padding-bottom: 25px;
    }
}

.bottonMenu {
    display: none;
}

@media (max-width: 420px) {
    .bottonMenu {
        display: flex;
        z-index: 1000;
    }
}