.portfolioTitle{
    position: absolute;
    top: -50px;
    font-family: var(--fond);
    font-size: 32px;
    font-weight: 600;
    color: #fafafa;

    position: relative;
}

@media (max-width: 420px) {
    .portfolioTitle {
        top: 10px;
        left: 15px;
        font-size: 28px;
    }

    .portfolioTitle::after {
         bottom: -14px !important;
        height: 5px !important;
        width: 35px !important;
    }
}

.portfolioTitle::after{
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;

    width: 40px;
    height: 6px;
    /* background-color: #FFDB70; */
    background: linear-gradient(90deg, #FFDB70, #ffae70 90%);
    border-radius: 5px;
}

.portfolioMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
    width: 100%;
}

@media (max-width: 420px) {
    .portfolioMain {
        margin-top: 60px;
        gap: 30px;
    }
}

.portfolioMain a:hover .myCart img {
    transform: scale(1.15);
}

.portfolioMain a:hover .myCart{
    background-color: #444;
}

.portfolioMain a:hover .myCartTech span {
    color: #FFDB70;
}

.portfolioMain a:hover .myCartPick::after {
   opacity: 1;
}

.myCartPick::after {
     content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    z-index: 999;
    opacity: 0;
    transition: 0.2s ease-out;
}
.myCart {
    width: 270px;
    height: 300px;
    background-color: #2e2e2e;
    border: 2px solid hsl(0, 0%, 22%);
    padding-top: 5px;
    border-radius: 20px;
    transition: 0.2s ease-out;
}

@media (max-width: 420px) {
    .myCart {
        width: 88%;
        height: 310px;
        padding-top: 0;
        margin-inline: auto;
        border-radius: 24px !important;
        overflow: hidden;
    }

    .portfolioMain a {
        width: 100%;
    }

    .myCartPick {
        width: 100% !important;
        height: 200px !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

.myCartPick {
    position: relative;
    width: 96%;
    height: 180px;
    border-radius: 16px;
    /* margin-top: 8px; */
    margin-inline: auto;
    overflow: hidden;
}

.myCartPick img {
    width: 100%;
    height: 100%;
    transition: 0.2s ease-out;
}

.myCart h5 {
    margin-left: 10px;
    margin-block: 12px;
    font-family: var(--fond);
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.myCartTech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding-inline: 10px;
}

.myCartTech span {
    background-color: #1e1e1f;
    font-family: var(--fond);
    font-size: 10px;
    font-weight: 300;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 22%);
    color: #fff;
    transition: 0.2s ease-out;
}